.banner {
    background: linear-gradient(#000000b3, #000000ab),
      url("https://i.ibb.co/P4dmMh9/compass-lying-near-drone.jpg");
    background-attachment: fixed;
    font-family: 'Alfa Slab One', cursive;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }